/* Accordion Menu by www.menucool.com/vertical/accordion-menu*/

#accordion {
    visibility:hidden;
}

/* root UL */
#accordion ul {
    list-style:none;
    padding: 0px;
}

/* sub UL */
#accordion ul ul {
    background:rgb(255, 255, 255);
    padding:2px 0;
}

/*---------- Indents ------*/

/*top-level*/
#accordion .top > a, #accordion .top > div { 
    padding-left:16px;
    padding-top:12px;padding-bottom:12px;
    font-size:large;
}

/*2nd-level*/
#accordion li li > a, #accordion li li > div {
    padding-top:18px;padding-bottom:18px;
}

/*3rd-level*/
#accordion li li li > a, #accordion li li li > div { padding-left:50px; }


/*---------- Other styles ------*/

/* headings */
#accordion .active > div{
    color:#ddd;
}

#accordion li {
    font-family:"Proxima Nova";
    font-size:23px;
    word-wrap: break-word;
    margin-left:3px;
    margin: auto;
    overflow:hidden;
}
@media (max-width: 491px) {
    #accordion li {
        font-size: 14px;
    }
}

/* Add borders to the top LIs */
#accordion .top {
	border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}


/* carets */
#accordion div.caret {
    color:inherit;
    margin-top:45px;
    /*To place the caret on the right, set: float:right;margin-top:0;*/
    width: 100px;
    height: 100px;
    float:right;
	cursor: pointer;
}

@media (max-width: 791px) {
    #accordion div.caret{
        margin-right: -5%;
        margin-top:60px;
    }
}

#accordion div.caret:after {
    content: '\002B';
    font-size: 40px;
    color: black;
    font-weight: bold;
    width:20px;
    height:20px;
}
@media (max-width: 991px) {
    #accordion div.caret:after {
        font-size: 35px;
    }
}
@media (max-width: 791px) {
    #accordion div.caret:after {
        font-size: 25px;
    }
}

#accordion div.caret.active:after {
    content: "\2212";
    font-size: 40px;
}

#accordion li {
    -ms-user-select:none;
    -mos-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
    user-select:none;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}